<style>
	.class_size {width:80%; cursor:pointer}
	.left_position {width:20%}

</style>

<title>Display Details</title>
<h1 align = "center">Display Details</h1>
<!--d3d7d4-->
<body style = "background-color:#77ac98">
    {% if request.session.username %}
	    <p>欢迎:<span style = "font-size:1.9em"><strong>{{request.session.username}}</strong></span>&nbsp;&nbsp;||&nbsp;&nbsp;<a href = "/logout/">退出</a></p>
	{% else %}
	    <p><a href = "/login/">登录</a>&nbsp;<a href = "/register/">注册</a></p>
    {% endif %}
	<a href = "/display_all_used_records/">首页</a>
	<!--<p><a href = "/" target = _blank><input type = "submit" value = "添加"/></a></p>-->
	<p><input type = "submit" value = "添加" onClick = "window.open('/','_self')"/>
	<!--<p><a href = "/update_info_page/{{build_info.id}}" target = _blank><strong>修改</strong></a></p>-->
	<input type = "submit" value = "修改" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')"/>
	<!--<input type = "submit" value = "删除" onClick = "window.open('/delete/{{build_info.id}}','_self')"/></p>-->
	<!--<a href = "/delete/{{build_info.id}}" onClick = "delcfm()"><input type = "button" value = "删除" onClick = "1delcfm()"/></a></p>-->
	<!--<p><a href = "/delete/{{build_info.id}}" onClick = "delcfm()"><strong>删除</strong></a></p>-->
	

        <input type = "button" value = "删除" onClick = "del()">
        <table width = "100%" border = "solid 3px red">
		<tr><td class = "left_position">id</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{build_info.id}}</td></tr>
		<tr><td class = "left_position">slavename</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{build_info.slavename}}</td></tr>
		<tr><td class = "left_position">buildername</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{build_info.buildername}}</td></tr>
		<tr><td class = "left_position">masterip</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{build_info.masterip}}</td></tr>
		<tr><td class = "left_position">slaveip</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{build_info.slaveip}}</td></tr>
		<tr><td class = "left_position">slave_platform</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{build_info.slave_platform}}</td></tr>
		<tr><td class = "left_position">username</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{build_info.username}}</td></tr>
		<tr><td class = "left_position">start_method</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{build_info.start_method}}</td></tr>
		{% ifequal  build_info.start_method "radio_timing"%}
		<tr><td class = "left_position">start_time</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{build_info.hour}}:{{build_info.minute}}</td></tr>
		{% endifequal %}
		{% ifequal  build_info.start_method "radio_trigger"%}
		<tr><td class = "left_position">git project url</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{build_info.git_project_path}}</td></tr>
		<tr><td class = "left_position">branches</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{build_info.branches}}</td></tr>
		<tr><td class = "left_position">monitor file path</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{build_info.monitor_file_path}}</td></tr>
		{% endifequal %}
		{% ifequal  build_info.start_method "radio_manual"%}
		{% endifequal %}

		
		<!--{% for each_step in build_steps %}
				<tr><td class = "left_position">script_contents{{forloop.counter}}</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}')">{{each_step.script_content}}</td></tr>
				<tr><td class = "left_position">work_dir{{forloop.counter}}</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}')">{{each_step.work_dir}}</td></tr>
				<tr><td class = "left_position">description{{forloop.counter}}</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}')">{{each_step.description}}</td></tr>

		{% endfor %}-->
		{% for each_step in all_list %}
				<tr><td class = "left_position">script_content{{forloop.counter}}</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{each_step.script_content}}</td></tr>
				<tr><td class = "left_position">work_dir{{forloop.counter}}</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{each_step.work_dir}}</td></tr>
				<tr><td class = "left_position">description{{forloop.counter}}</td><td class = "class_size" onClick = "window.open('/update_info_page/{{build_info.id}}','_self')">{{each_step.description}}</td></tr>

		{% endfor %}
		
	</table>
</body>


<script language = "javascript">
function delcfm(){
    if (!confirm("确定要删除吗?")){
        window.event.returnValue = false;
        //return  false;
    }
}

function del(){
    var flag = confirm("  确定要删除吗?");
    if(flag){
                document.location.href = "/delete/{{build_info.id}}"
            }else

            {return false}
}

</script>





