<title>DVDFab new_add_case</title>
{% extends 'base.html'%}
{% block content%}
<h1 align = 'center'>Add a new case</h1>
<div align = 'center' style = 'background-color:gray'>
<form action = '.' method = 'POST'> 
<br />
<table width = '800'>

<tr>
<td>Num:</td><td><input type = 'text' name = 'Num' style = 'width :800px'/></td>
</tr>
<tr>
<td>Num_test_link:</td><td><input type = 'text' name = 'Num_test_link' style = 'width :800px'/></td>
</tr>
<tr>
<td>Iso_type:</td><td><input type = 'text' name = 'Iso_type' style = 'width :800px'/></td>
</tr>
<tr>
<td>Mode:</td><td><input type = 'text' name = 'Mode' style = 'width :800px'/></td>
</tr>
<tr>
<td>Src_iso:</td><td><input type = 'text' name = 'Src_iso'  style = 'width :800px'/></td>
</tr> 
<tr>
<td>Dest_type:</td><td><input type = 'text' name = 'Dest_type'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Out_disc:</td><td><input type = 'text' name = 'Out_disc'  style = 'width :800px'/></td>
</tr>

<tr>
<td>Profile:</td><td><input type = 'text' name = 'Profile'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Enable_2Dto3D:</td><td><input type = 'text' name = 'Enable_2Dto3D' style = 'width :800px'/></td>
</tr>
<tr>
<td>Remove_HD_audio:</td><td><input type = 'text' name = 'Remove_HD_audio'  style = 'width :800px'/></td>
</tr>

<tr>
<td>Video_decoder_H264:</td><td><input type = 'text' name = 'Video_decoder_H264' style = 'width :800px'/></td>
</tr>
<tr>
<td>Video_decoder_VC1:</td><td><input type = 'text' name = 'Video_decoder_VC1' style = 'width :800px'/></td>
</tr>
<tr>
<td>Video_decoder_MPEG2:</td><td><input type = 'text' name = 'Video_decoder_MPEG2'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Video_encoder_H264:</td><td><input type = 'text' name = 'Video_encoder_H264'  style = 'width :800px'/></td>
</tr>
<tr>
<td>BD3D_convert_type:</td><td><input type = 'text' name = 'BD3D_convert_type' style = 'width :800px'/></td>
</tr>
<tr>
<td>Compress_to_AC3:</td><td><input type = 'text' name = 'Compress_to_AC3'  style = 'width :800px'/></td>
</tr>
<tr>
<td>DVDFab_description:</td><td><input type = 'text' name = 'DVDFab_description'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Src_folder:</td><td><input type = 'text' name = 'Src_folder'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Src_path:</td><td><input type = 'text' name = 'Src_path'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Audio:</td><td><input type = 'text' name = 'Audio'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Audio_type:</td><td><input type = 'text' name = 'Audio_type'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Change_play_order:</td><td><input type = 'text' name = 'Change_play_order'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Copy_IFO:</td><td><input type = 'text' name = 'Copy_IFO'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Display_forced_sub:</td><td><input type = 'text' name = 'Display_forced_sub'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Jump_menu:</td><td><input type = 'text' name = 'Jump_menu'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Jump_main:</td><td><input type = 'text' name = 'Jump_main'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Remove_DTS:</td><td><input type = 'text' name = 'Remove_DTS'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Path_player:</td><td><input type = 'text' name = 'Path_player'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Preserve_menu_disc2:</td><td><input type = 'text' name = 'Preserve_menu_disc2'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Remove_menu:</td><td><input type = 'text' name = 'Remove_menu' style = 'width :800px'/></td>
</tr>
<tr>
<td>Remove_PGC:</td><td><input type = 'text' name = 'Remove_PGC'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Rewind:</td><td><input type = 'text' name = 'Rewind'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Subtitle:</td><td><input type = 'text' name = 'Subtitle'  style = 'width :800px'/></td>
</tr>
<tr>
<td>Title:</td><td><input type = 'text' name = 'Title' style = 'width :800px'/></td>
</tr>
<tr>
<td>Volume:</td><td><input type = 'text' name = 'Volume'  style = 'width :800px'/></td>
<tr>
</table>
 
**<input type = 'submit' value = 'add_new_case'/>**
</form>
</div>
{% endblock %}
{% block footer %}{% endblock %}
