 <style>
#tr_id{background-color:#4ff5f4}
</style>
{% extends 'base.html'%}
{% block content%}
<h1 align = 'center'>Display All Samples Info</h1>
<table border = 'solid 3px red' align = 'center' style = 'color:black' width = 100%>
<tr align = 'center'>
<td>Index</td>
<td>Num</td>
<td>PC</td>
<td>Mode</td>

<td>Outdisc</td>
<td>3D-Tp</td>
<td>C-AC3</td>
<td>DH</td>

<td>DV</td>
<td>DM</td>
<td>EH</td>
<td>3D</td>

<td>Profile</td>
<td>Src_iso</td>
<td>Start_time</td>
<td>End_time</td>

<td>Total_time</td>
<td>File_size</td>
<td>Descript</td>
<td>Result</td>

<td>Develop</td>
<td>Fg<td>
</tr>
{% for i in  file %}
<tr id = 'tr_id' align = 'center'>
<td>Index</td>
<td>Num</td>
<td>PC</td>
<td>Mode</td>

<td>Outdisc</td>
<td>3D-Tp</td>
<td>C-AC3</td>
<td>DH</td>

<td>DV</td>
<td>DM</td>
<td>EH</td>
<td>3D</td>

<td>Profile</td>
<td>Src_iso</td>
<td>{{Start_time}}</td>
<td>{{End_time}}</td>

<td>{{a}}</td>
<td>File_size</td>
<td>Descript</td>
<td>Result</td>

<td>Develop</td>
<td>Fg<td>
</tr>
{% endfor %}

</table>
dfhgggggggggggggg
{% endblock %}
{% block footer %}{% endblock %}