<title>DVDFab new_add_BD</title>
{% extends 'base.html'%}
{% block content%}
<h1 align = 'center'>Update DVD sample</h1>
<div align = 'center' style = 'background-color:gray'>
<form action = '/update_all_DVD/{{param1}}/' method = 'POST'> 

<br />
Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Name' value = '{{dvd.Name}}' style = 'width :800px'/><br /><br />
Video_info: &nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Video_info' value = '{{dvd.Video_info}}' style = 'width :800px'/><br /><br />
Audio_info: &nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Audio_info' value = '{{dvd.Audio_info}}' style = 'width :800px'/><br /><br />
File_size: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'File_size' value = '{{dvd.File_size}}' style = 'width :800px'/><br /><br /><br />

Channel: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Channel' value = '{{dvd.Channel}}' style = 'width :800px'/><br /><br />
Framerate: &nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Framerate' value = '{{dvd.Framerate}}' style = 'width :800px'/><br /><br />
Standard: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Standard' value = '{{dvd.Standard}}' style = 'width :800px'/><br /><br />
Scan_type: &nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Scan_type' value = '{{dvd.Scan_type}}' style = 'width :800px'/><br /><br /><br />
 
Company: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Company' value = '{{dvd.Company}}' style = 'width :800px'/><br /><br />
Locations: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Locations' value = '{{dvd.Locations}}' style = 'width :800px'/><br /><br />
Description: &nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Description' value = '{{dvd.Description}}' style = 'width :800px'/><br /><br />
Volume_label: <input type = 'text' name = 'Volume_label' value = '{{dvd.Volume_label}}' style = 'width :800px'/><br /><br />
 

**<input type = 'submit' value = 'Update_DVDsample'/>**
</form>
</div>
{% endblock %}
{% block footer %}{% endblock %}
