<title>DVDFab new_add_BD</title>
{% extends 'base.html'%}
{% block content%}
<h1 align = 'center'>Update BD3D sample</h1>
<div align = 'center' style = 'background-color:gray'>
<form action = '/update_all_BD3D/{{param1}}/' method = 'POST'> 
<br />
Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Name' value = '{{bd3d.Name}}' style = 'width :800px'/><br /><br />
Video_info: &nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Video_info' value = '{{bd3d.Video_info}}' style = 'width :800px'/><br /><br />
Audio_info: &nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Audio_info' value = '{{bd3d.Audio_info}}' style = 'width :800px'/><br /><br />
File_size: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'File_size' value = '{{bd3d.File_size}}' style = 'width :800px'/><br /><br /><br />

Channel: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Channel' value = '{{bd3d.Channel}}' style = 'width :800px'/><br /><br />
Framerate: &nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Framerate' value = '{{bd3d.Framerate}}' style = 'width :800px'/><br /><br />
Standard: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Standard' value = '{{bd3d.Standard}}' style = 'width :800px'/><br /><br />
Scan_type: &nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Scan_type' value = '{{bd3d.Scan_type}}' style = 'width :800px'/><br /><br /><br />
Numbers_jar: <input type = 'text' name = 'Numbers_jar' value = '{{bd3d.Numbers_jar}}' style = 'width :800px'/><br /><br />
Company: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Company' value = '{{bd3d.Company}}' style = 'width :800px'/><br /><br />
Locations: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Locations' value = '{{bd.3dLocations}}' style = 'width :800px'/><br /><br />
Description: &nbsp;&nbsp;&nbsp;<input type = 'text' name = 'Description' value = '{{bd3d.Description}}' style = 'width :800px'/><br /><br />
Volume_label: <input type = 'text' name = 'Volume_label' value = '{{bd3d.Volume_label}}' style = 'width :800px'/><br /><br />
 

**<input type = 'submit' value = 'Update_BD3Dsample'/>**
</form>
</div>
{% endblock %}
{% block footer %}{% endblock %}
