<style>
    #tr_id{background-color:#4ff5f4}
	a{text-decoration:none}
	a:hover{text-decoration:none; color:#999}
	#menu{width:900px; margin:0 auto; text-align:center; font-size:12px; align:center}
	ul{ padding: 0;  margin: 0;  list-style: none; }
	li{ position:relative;  float: left;  width: 80px; }
	li ul{position:absolute; display: none; top: 20px; left:0;}
	li:hover ul{ display: block;}
	li.over ul{ display: block;}
	ul li a{ display:block;	font-size:12px;	 border: 1px solid #ccc; padding:3px; margin-right:1px;	 text-decoration: none;	 color:#4f4ff4; background:#bbbbbb;}
	ul li a:hover{ background-color:#f4f4f4; }
	#nav li ul li{ float:left; width:80px;}
	#index, #new_case{display:none;}

</style>
<script>
function aa(){obj = document.getElementByTd('test'); 

             for(i=0;i<=obj.length;i++){
                i.style.display = block}}
				
function index(){var obj=document.getElementById('index'); obj.style.display='block';}
function index_(){var obj=document.getElementById('index'); obj.style.display='none';}
function new_case1(){var obj=document.getElementById('new_case'); obj.style.display='block';}
function new_case_(){var obj=document.getElementById('new_case'); obj.style.display='none';}

</script>
<ol id = 'nav2'>
		    <li><a href = '/index/'  onmouseover = 'index()' onmouseout = 'index_()'>Index</a>
				<ol id = 'index' onmouseover = 'index()' onmouseout = 'index_()'>
					<li><a href ='/download_mac/' >MacOS</a></li>	
				    <li><a href ='/download_mac/' >MacOS</a></li>	
				</ol>
			</li>
				<li><a href = '/new_add_case/'  onmouseover = 'new_case1()' onmouseout = 'new_case_()'>New_case</a>
				<ol id = 'new_case' onmouseover = 'new_case1()' onmouseout = 'new_case_()'>
					<li><a href ='/download_mac/' >MacOS</a></li>	
				    <li><a href ='/download_mac/' >MacOS</a></li>	
				</ol>
			</li>
</ol>
<div align = 'center'>
	<div id = "menu" >
		<ul id = "nav">
			<li onmouseover = aa();><a href = "/case/?case_type=Blu_Copy">Blu_Copy</a>
				<ol id = 'test'; style = 'display:none'>
					<li><a href = "/case/?case_type=BC_P0_1">BC_P0_1</a></li>
					<li><a href = "/case/?case_type=BC_P0_2">BC_P0_2</a></li>
					<li><a href = "/case/?case_type=BC_P1_1">BC_P1_1</a></li>
					<li><a href = "/case/?case_type=BC_P1_2">BC_P1_2</a></li>
					<li><a href = "/case/?case_type=BC_P1_3">BC_P1_3</a></li>
					<li><a href = "/case/?case_type=BC_P2">BC_P2</a></li>
				</ol>
			   </li>
			<li><a href = "/case/?case_type=Blu_Ripper">Blu_Ripper</a>
				<ul>
					<li><a href = "/case/?case_type=BR_P0">BR_P0</a></li>
					<li><a href = "/case/?case_type=BR_P1">BR_P1</a></li>
					<li><a href = "/case/?case_type=BR_P2">BR_P2</a></li>
				</ul></li>
			<li><a href = "/case/?case_type=DVD_Copy">DVD_Copy</a>
				<ul>
				<li><a href = "/case/?case_type=DC_P0">DC_P0</a></li>
				</ul></li>
			<li><a href = "/case/?case_type=DVD_Ripper">DVD_Ripper</a>
				<ul>
					<li><a href = "/case/?case_type=DR_P0">DR_P0</a></li>
					<li><a href = "/case/?case_type=DR_P1">DR_P1</a></li>
				</ul></li>
			<li><a href = "/case/?case_type=Blu_DVD">Blu_DVD</a>
				<ul>
					<li><a href = "/case/?case_type=BD_P0">BD_P0</a></li>
					<li><a href = "/case/?case_type=BD_P1">BD_P1</a></li>
					<li><a href = "/case/?case_type=BD_P2">BD_P2</a></li>
				</ul></li>
			<li><a href = "/case/?case_type=Blu_3D">Blu_3D</a>
				<ul>
					<li><a href = "/case/?case_type=B3_P0">B3_P0</a></li>
					<li><a href = "/case/?case_type=B3_P1">B3_P1</a></li>
				</ul></li>
			<li><a href = "/case/?case_type=VideoConverter">VideoConverter</a>
				<ul>
					<li><a href = "/case/?case_type=VC_P0">VC_P0</a></li>
					<li><a href = "/case/?case_type=VC_P1">VC_P1</a></li>
				</ul></li>
			<li><a href = "/case/?case_type=BDCreator">BDCreator</a>
				<ul>
					<li><a href = "/case/?case_type=BDC_P0">BD_P0</a></li>
					<li><a href = "/case/?case_type=BDC_P1">BD_P1</a></li>
				</ul></li>
				
			<li><a href = "/case/?case_type=DVDCreator">DVDCreator</a>
				<ul>
					<li><a href = "/case/?case_type=DVD_DVD5">DVD_DVD5</a></li>
					<li><a href = "/case/?case_type=DVD_DVD9">DVD_DVD9</a></li>
				</ul></li>
			<li><a href = "/case/?case_type=2Dto3D">2Dto3D</a>
				<ul>
					<li><a href = "/case/?case_type=2T3_DR">2T3_DR</a></li>
					<li><a href = "/case/?case_type=2T3_BR">2T3_BR</a></li>
					<li><a href = "/case/?case_type=2T3_VC">2T3_VC</a></li>
				</ul></li>
			<li><a href = "/case/?case_type=Mini_test_set">Mini_test_set</a>
					<ul>
					<li><a href = "/case/?case_type=3D_Anaglyph">3D_Anaglyph</a></li>
					<li><a href = "/case/?case_type=3D_Split">3D_Split</a></li>
					<li><a href = "/case/?case_type=3D_TeoFiles">3D_TwoFiles</a></li>
					<li><a href = "/case/?case_type=3D_TwoVideos">3D_TwoVideos</a></li>
					<li><a href = "/case/?case_type=3D_Device">3D_Device</a></li>
					<li><a href = "/case/?case_type=DTS/LPCM_AC3">DTS/LPCM_AC3</a></li>
					<li><a href = "/case/?case_type=BD_SBS">BD_SBS</a></li>
					<li><a href = "/case/?case_type=BD_Blu">BD_Blu</a></li>
				</ul></li>
		</ul>
	</div>  
</div>