<title>DVDFab new_add_BD</title>
{% extends 'base.html'%}
{% block content%}
<h1 align = 'center'>Add a new BD sample</h1>
<div align = 'center' style = 'background-color:gray'>
<form action = '.' method = 'GET'> 
<br />
<table width = '800'>
<tr>
<td align = 'right'>Name:</td><td><input type = 'text' name = 'Name' style = 'width :800px'/><td>
</tr>
<tr>
<td align = 'right'>Locations:</td><td><input type = 'text' name = 'Locations' style = 'width :800px'/><td>
</tr>
<tr>
<td align = 'right'>Video_info:</td><td><input type = 'text' name = 'Video_info' style = 'width :800px'/><td>
</tr>
<tr>
<td align = 'right'>Audio_info:</td><td><input type = 'text' name = 'Audio_info' style = 'width :800px'/><td>
</tr>
<tr>
<td align = 'right'>File_size:</td><td><input type = 'text' name = 'File_size' style = 'width :800px'/><td>
</tr>
<tr>
<td align = 'right'>Channel:</td><td><input type = 'text' name = 'Channel' style = 'width :800px'/><td>
</tr>
<tr>
<td align = 'right'>Framerate:</td><td><input type = 'text' name = 'Framerate' style = 'width :800px'/><td>
</tr>
<tr>
<td align = 'right'>Standard:</td><td><input type = 'text' name = 'Standard' style = 'width :800px'/><td>
</tr>
<tr>
<td align = 'right'>Scan_type:</td><td><input type = 'text' name = 'Scan_type' style = 'width :800px'/><td>
</tr>
<tr>
<td align = 'right'>Numbers_jar:</td><td><input type = 'text' name = 'Numbers_jar' style = 'width :800px'/><td>
</tr>
<tr>
<td align = 'right'>Company:</td><td><input type = 'text' name = 'Company' style = 'width :800px'/><td>
</tr>
<tr>
<td align = 'right'>Description:</td><td><input type = 'text' name = 'Description' style = 'width :800px'/><td>
</tr>
<tr>
<td align = 'right'>Volume_label:</td><td><input type = 'text' name = 'Volume_label' style = 'width :800px'/><td>
</tr>

</table>
**<input type = 'submit' value = 'add_new_BDsample'/>**
</div>
{% endblock %}
{% block footer %}{% endblock %}