<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>DVDFab session</title>
{% extends 'base.html'%}
{% block content%}
<h1 align = 'center'>Display DVDFab session Info</h1>
<div align = 'center'>
<form action = '/search/session/' method = 'GET'>
		<select name = 'api'>
		<option value = 'id'>Index</option>
		<option value = 'Mode'>Mode</option>
		<option value = 'Src_path'>Name</option>
		<option value = 'Num'>Case Num</option>
		<option value = 'Result'>Result</option>
		<option value = 'Out_disc'>Out_disc</option>
		<option value = 'PC_name'>PC_name</option>
		<option value = 'Profile'>Profile</option>
		<option value = 'Developer'>Developer</option>
		</select>
        <input type = 'text' name = 'api_name'  value = '{{api_name}}'/>
		
		
Samples_type:
		<select name = 'sample_name'>
		<option value = 'BD'>BD</option>
		<option value = 'DVD'>DVD</option> 
		<option value = 'BD3D'>BD3D</option>
		<option value = 'File'>File</option>
		</select> 

<input type = 'submit' value = 'Search'>
</form>

</div>
{% ifequal count 0 %}
{% else %}
<p><a href = '?nowpage=1'>首页</a>
{% ifequal nowpage 1 %}
{% else %}
<a href = '?nowpage={{pageup}}'>上一页</a>
{% endifequal %}


{% ifequal nowpage pageall %}
{% else %}
<a href = '?nowpage={{pagedn}}'>下一页</a>
{% endifequal %}
<a href = '?nowpage={{pageall}}'>末页</a>
{% endifequal %} 
<p><br /></p>
<table border = 'solid 3px red' align = 'center' style = 'font-size: 0.9em;color:black' width = 100%>
	<tr align = 'center' style = ' background-color :gray'>
		<td width = '3%'>Index</td>
		<td width = '3%'>Num</td>
		<td width = '6%'>PC</td>
		<td width = '5%'>Iso_type</td>
		<td width = '5%'>Mode</td>

		<td width = '5%'>Outdisc</td>
		<td width = '2%'>3D-Tp</td>
		<td width = '1%'>C-AC3</td>
		<td width = '1%'>DH</td>

		<td width = '1%'>DV</td>
		<td width = '1%'>DM</td>
		<td width = '1%'>EH</td>
		<td width = '2%'>3D</td>

		<td width = '8%'>Profile</td>
		<td width = '10%'>Src_iso</td>
		<td width = '8%'>Start_time</td>
		<td width = '8%'>End_time</td>

		<td width = '5%'>Total_time</td>
		<td width = '5%'>File_size</td>
		<td width = '5%'>Descript</td>
		<td width = '12%'>Result</td>

		<td width = '5%'>Develop</td>
		<td width = '3%'>Flag</td>

	</tr>
{% for i in session %}
	<tr id = 'tr_id' align = 'center' style = "background-color: {% cycle '#4ffff4' '#a9a9a9'%}; height = '40px'">
		<div>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.id}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Num}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.PC_name}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Iso_type}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Mode}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Out_disc}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.BD3D_convert_type}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Compress_to_AC3}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Video_decoder_H264}}</td>
		
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Video_decoder_VC1}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Video_decoder_MPEG2}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Video_encoder_H264}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Enable_2Dto3D}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Profile}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Src_path}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Start_time}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.End_time}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Total_time}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Folder_size}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.DVDFab_description}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Result}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Developer}}</td>
		<td style = 'word-break:break-all; overflow:hidden; word-wrap:break-word; table-layout:fixed;' onClick = "window.open('/update_session_page/{{i.id}}/')">{{i.Flag}}</td>
		
		
		<!-- <a href = 'javascript:' onClick = "window.open('/update_session_page/{{i.id}}/')">
		<td style = 'word-break:break-all;overflow:hidden'>{{i.id}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Num}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.PC_name}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Mode}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Out_disc}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.BD3D_convert_type}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Compress_to_AC3}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Video_decoder_H264}}</td>

		<td style = 'word-break:break-all;overflow:hidden'>{{i.Video_decoder_VC1}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Video_decoder_MPEG2}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Video_encoder_H264}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Enable_2Dto3D}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Profile}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Src_path}}</td>
		
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Start_time}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.End_time}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Total_time}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Folder_size}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.DVDFab_description}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Result}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Developer}}</td>
		<td style = 'word-break:break-all;overflow:hidden'>{{i.Flag}}</td>
		</a>
		-->
		<div>
	</tr>
{% endfor %}
</table>

{% endblock %}
{% block footer %}{% endblock %}