{% extends 'base.html' %}

{% load custom_filter %}

{% block title %}展示列表{% endblock %}

{% block subtitle %}{{product}}-展示列表{% endblock %}
{% block content %}
    <br />    
    <div class="mask" id = "mask" onlcick = "close_dialog()"></div>
    <div class="pop" id = "pop">
        <em onclick = "close_dialog()" id = "em"><button class = "close_btn">×关闭</button></em>
        <ul>
             <li>
                 <textarea placeholder = "请输入changelog" rows = "10" cols  = "45" id = "log" name = "log"></textarea>
             </li>
             <li>
                 <input class = "btn" type = "submit" value = "提交" onclick = "do_publish_revert()">
             </li>
        </ul>
    </div>
    
    <div class="mask" id = "log_mask" onlcick = "close_log_dialog()"></div>
    <div class="pop" id = "log_pop">
        <em onclick = "close_log_dialog()" id = "log_em"><button class = "close_btn">×关闭</button></em>
        <div id = "changelog"></div>
    </div>




    {% ifequal page 1 %}
        <span>首页</span>
    {% else %}
        <span><a href = "?product={{product}}&page=1">首页</a></span>
    {% endifequal %}
    {% if publish_list.has_previous %}
        <a href = "?product={{product}}&page={{publish_list.previous_page_number}}">&lt;上一页</a>
    {% endif %}
    <span>
        {% for each_page in page_range %}
            {% ifequal each_page publish_list.number %}
                <span style = "font-size: 1.8em">{{each_page}}</span>
            {% else %}
                <a href = "?product={{product}}&page={{each_page}}" title = "第{{each_page}}页">{{each_page}}</a>
            {% endifequal %}
        {% endfor %}
    </span>

    {% if publish_list.has_next %}
        <a href = "?product={{product}}&page={{publish_list.next_page_number}}">下一页&gt;</a>
    {% endif %}

    {% ifequal page publish_list.paginator.num_pages %}
        <span>尾页</span>
    {% else %}
        <span><a href = "?product={{product}}&page={{publish_list.paginator.num_pages}}">尾页</a></span>
    {% endifequal %}

    <span style = "font-size: 1.3em">[第{{page}}/{{paginator.num_pages}}页]</span><br /><br />
    <table border style = "solid border 3px"  align = "center" width = "60%">
        <tr>
            <th>记录编号</th>
            <th>产品名</th>
            <th>发布人</th>
            <th>pre镜像</th>
            <th>master镜像</th>
            <th>发布时间</th>
            <th>发布进程</th>
            <th>发布标志</th>
            <th>日志</th>
            <th>测试结果</th>
            {% for name in inner_failed_user_list %}
                {% ifequal pub_user name %}
                    <th>内部失败<br />(仅我可见)</th>
                {% endifequal %}
            {% endfor %}
            <!--<th>失败原因</th>-->
            <th>操作</th>
        </tr>
        {% for res in publish_list %}
            <tr>
                <td>{{res.id}}</td>
                <td>{{res.product.name}}</td>
                <td>{{res.pub_user}}</td>
                <td title = "{{res.pre_imagename}}" id = "{{res.id}}">
                    {% ifnotequal res.pub_status "0" %}
                        {{res.pre_imagename|cut_str:"-"}}
                    {% endifnotequal %}
                </td>
                <td title = "{{res.master_imagename}}">{{res.master_imagename|cut_str:"-"}}</td>
                <td>{% ifnotequal res.pub_status "0" %}{{res.pub_date}}{% endifnotequal %}</td>
                <td>
                    {% ifequal res.pub_status "0" %}
                        <span class = "updating"><strong>更新中</strong></span> 
                    {% endifequal %}
                    {% ifequal res.pub_status "1" %}
                         <span class = "updated_not_publish"><strong>未发布</strong></span>
                    {% endifequal %}
                    {% ifequal res.pub_status "2" %}
                         <span class = "publishing"><strong>发布中</strong></span>
                    {% endifequal %}
                    {% ifequal res.pub_status "3" %}
                         <span class = "publish"><strong>已发布</strong></span>
                    {% endifequal %}
                    {% ifequal res.pub_status "4" %}
                         <span class = "pubfail"><strong>发布失败</strong></span>
                    {% endifequal %}
                </td>
                <td>
                    {% ifequal res.pub_flag "2" %}
                        <span class = "publish" id = "111"><strong>当前为发布版本</strong></span>
                    {% endifequal %}
                </td>
                {% ifequal request.user.username "dedong.xui" %}
                    <td><button onclick = 'open_log_dialog({{res.id}})'>{{res.changelog|slice:"1"}}</button>
                    <textarea hidden id = "hidden_changelog{{res.id}}">{{res.changelog}}</textarea>
                    </td>
                {% else %}
                    <td title = "{{res.changelog}}">{{res.changelog}}</td>
                {% endifequal %}
                <td>
                    <span class = "publish"><strong>{% ifequal res.test_flag "0"%}测试成功{% endifequal %}</strong></span>
                    <span class = "pubfail">
                        <strong>
                            {% ifequal res.test_flag "1"%}预配置失败{% endifequal %}
                            {% ifequal res.test_flag "2"%}测试失败{% endifequal %}
                        </strong>
                    </span>
                </td>
                {% for name in inner_failed_user_list %}
                    {% ifequal pub_user name %}
                        <td>{{res.inner_failed}}</td>
                    {% endifequal %}
                {% endfor %}
                <!--<td>{{res.outer_failed}}</td>-->
                <td>
                    {% ifequal res.pub_status "1" %}
                        {% ifequal res.test_flag "0" %}
                            {% ifnotequal res.master_imagename "" %}
                                <input class="btn" type="submit" id = "{{res.id}}publish_revert" onclick = "publish_revert({{res.id    }}, '确定要发布吗?')" value = "发布"/>
                                <!--<a href = {#% url publish res.id %#}>发布</a>-->
                                <input type = "text" hidden name = "changelog_{{res.id}}" />
                            {% endifnotequal %}
                        {% endifequal %}
                    {% endifequal %}


                   {% ifequal res.pub_status "3" %}
                       <input class = "btn" type = "button" id = "{{res.id}}publish_revert" onclick = "publish_revert({{res.id}}, '确定要回滚吗?')" value = "回滚"/>
                       <!--<a href = {#% url revert res.id %#}>回滚111</a>-->
                   {% endifequal %}
                </td>
                <!--<td><input type="button" id="publish" onclick="window.open('/update/{{res.id}}', '_self')" value="发布"/></td>
                <td><input type = "submit" id = "publish" onclick = "window.open('/show_history/?product={{res.product}}', '_self')" value = "查看"/></td> -->
            </tr>
        {% endfor %}
    </table>
{% endblock %}
