<html>
	<head>
		<title>Welcome to Create Auto Build Center</title>
	</head>
	<body style = "background-color:#77ac98">
		<br />
		<h1 align = "center">Welcome to Create Auto Build Center</h1>
		<br />
		
		<form action = "/register/" method = "POST">
			<div width = "100%">
			<table align = "center" height = "20%" width = "30%">
			{{form.as_table}}
			</table>
			</div>
			<p align = "center"><input type = "submit" value = "注册" /></p>
		</form>
		<p align = "center">有账号了？那就直接<a href = "/login/"><strong style = "font-size:2.0em">登录</strong></a>吧！！</p>
	</body>
</html>