<html>
    {% extends "navmenu.html" %}
    {% block title %}
        <style>
            .input_width {
                width: 70%;
            }
            .right_position{
                text-align: right;
                width: 30%;
            }
        </style>
        <title>Create Virtual</title>
    {% endblock %}

    {%block subtitle%}--Add IP{% endblock%}
    {% block content %}
    
    <body>
    <div style = "color: red" align="center"><strong>{{exist_prompt}}</strong></div>
    <!--<form action = "." method = "POST" onsubmit = "return NotEmpty1()">
        {% csrf_token %}
        <div align = "center">IP:<input type = "text" id = "ip" name = "name" value = "{{name}}" required = "required"/>
        <input type = "submit" value = "Add IP" /></div>
    </form>-->
   <div align = "center">
        <form action = "." method = "POST" onsubmit = "return NeedDigital()" autocomplete="on">
            请选择要添加的网段: 
            <select name = "segment" style = "width:100px">
                <option value = "2">2</option>
                <option value = "4">4</option>
                <option value = "6">6</option>
                <option value = "7">7</option>
                <option value = "10">10</option>
            </select>                    
            <label><input type = "submit" value = "添加"/></label> 
        </form>
    </div>
    <script>
        function NotEmpty1(){
            var ip_obj = document.getElementById("ip")
            var msg = "每一项都是必填项，请填写完整之后再提交！";
            
            
            //check slaveip is valid
            reg_slaveip = /^(\d{2}\.\d{2}\.\d{1}\.\d{1,3})$/;
            flag_slaveip = ip_obj.value.search(reg_slaveip)
            if (flag_slaveip == -1){
                alert("ip格式不正确，请重新填写！格式为xx.xx.x.x(x)(x)；括号里表示非必须")
                return false;
            }
        }

    </script>
    {% endblock %}


