<html>
    <div>
    {% extends "navmenu.html" %}
    {% block title %}
    <head>
        <style>
            .half_width {
                width: 27%;
            }
            .input_width {
                width: 60%;
            }
            .right_position{
                text-align: right;
                width: 30%;
            }
            #blanks
            { 
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #ccc;
                z-index: 1000;
                -moz-opacity:0.7;
                opacity:0.7;
                filter:alpha(opacity=50); 
            }
            .display_prompt
            { 
                position:absolute; 
                color: red;
                font-size: 30px;
                top:40%; 
                left:50%; 
                margin-left:-140px; 
                display:none; 
                z-index:1500; 
            } 
        </style>
        <title>Create Virtual</title>
        <link rel = "shortcut icon" type = "image/x-ico" href = "/site_media/image/BluFabInstall.ico" />
    </head>
    {% endblock %}
    
    {%block subtitle%}--Create Virtual{% endblock%}
    {% block content %}
    
    <body>
    <div id = "blanks"></div>
    <div class="display_prompt" id = "display_prompt">正在创建请稍等</div>  
    <!--<p><input type = "submit" value = "管理页面" onClick = "window.open('/','_self')"/>-->
    <div style = "color: red" align="center"><strong>{{not_available_ip}}</strong></div>
    <div style = "color: red" align="center"><strong>{{exist_prompt}}</strong></div>
    <div style = "color: red" align="center"><strong>{{no_suitable_esxi_prompt}}</strong></div>
    
    <form action = "." method = "POST" onsubmit = "return NotEmpty1()">
        {% csrf_token %}
        <table align = "center" width = "100%">
            <tr>
                <td class = "right_position">操作系统:</td>
                <td>
                    <select name = "platform" id = "platform" onchange = "selcity()" class = "half_width">
                        <option value = "">--请选择操作系统--</option>
                        <option value = "Win">Win</option>
                        <option value = "Mac">Mac</option>
                        <option value = "Ubu">Ubu</option>
                    </select>
                    系统版本:<select name = "version" id="version" class = "half_width">  
                        <option value = "">--请选择系统版本--</option>  
                    </select> 
                </td>
            </tr>
            <!--
            <tr>
                <td class = "right_position">操作系统:</td>
                <td>
                    <select name = "platform" id = "platform1" class = "input_width">
                        {% for each_platform in platform_list %}
                            {% ifequal platform each_platform %}
                                <option selected value = "{{each_platform}}">{{each_platform}}</option>
                            {% else %}
                                <option value = "{{each_platform}}">{{each_platform}}</option>
                            {% endifequal %}
                        {% endfor %}
                    </select>
                </td>
            </tr>-->
            <tr>
                <td class = "right_position">组合1:</td>
                <td>内存:{{select_dict.select1.memory}} CPU:{{select_dict.select1.cpu}} 硬盘:{{select_dict.select1.hard_disk}}<input type = "radio" name = "select" value = "select1" requiired = "required"/></td>
            </tr>
            <tr>
                <td class = "right_position">组合2:</td>
                <td>内存:{{select_dict.select2.memory}} CPU:{{select_dict.select2.cpu}} 硬盘:{{select_dict.select2.hard_disk}}<input type = "radio" name = "select" value = "select2" requiired = "required"/></td>
            </tr>
            <tr>
                <td class = "right_position">组合3:</td>
                <td>内存:{{select_dict.select3.memory}} CPU:{{select_dict.select3.cpu}} 硬盘:{{select_dict.select3.hard_disk}}<input type = "radio" name = "select" value = "select3" reqiuired = "required"/></td>
            </tr>
            <tr>
                <td class = "right_position">组合4:</td>
                <td>内存:{{select_dict.select4.memory}} CPU:{{select_dict.select4.cpu}} 硬盘:{{select_dict.select4.hard_disk}}<input type = "radio" name = "select" value = "select4" reqiuired = "required"/></td>
            </tr>
            
            <tr>
                <td class = "right_position">描述:</td>
                <td>
                    <textarea title = "描述, 随便写些什么都可以，比如说，机器的用途" class = "input_width" name = "description" rows = 8 irequired = "required">{{description}}</textarea>
                </td>
            </tr>
        </table>
        <div align = "center"><input type = "submit" id = "submit" value = "创建虚拟机" /></div>
    </form>
    <script>
        function NotEmpty1(){
            var flag = false;
            var platform_obj = document.getElementById("platform")
            var version_obj = document.getElementById("version")
            var select_obj = document.getElementsByName("select")
            var submit_obj = document.getElementById("submit")
            var blanks_obj = document.getElementById("blanks")
            var display_prompt_obj = document.getElementById("display_prompt")
            var textarea_obj = document.getElementsByTagName("textarea");
            var msg = "每一项都是必填项，请填写完整之后再提交！";
            
            //check select is empty or not
            if(!platform_obj.value){
                alert("请选择操作系统");
                return false;
            }
            
            //check select is empty or not
            if(!version_obj.value){
                alert("请选择系统版本");
                return false;
            }
            
            for(i=0; i< select_obj.length; i++){
                if(select_obj[i].checked){
                    flag = true;
                }
            }
            if(!flag){
                alert("请选择一个组合");
                return false;
            }
            //check input is empty or not
            /*for(i=0; i<input_obj.length; i++){
                if(!input_obj[i].value){
                    alert(msg);
                    return false;
                }
            }*/
            
            //check textarea is empty or not
            for(j=0; j<textarea_obj.length; j++){
                if(!textarea_obj[j].value){
                    alert("请填写描述!");
                    return false;
                }
            }
             
            //提交之后将按钮置灰，防止再次提交
            submit_obj.disabled = "true";
            submit_obj.value = "请稍等...";
            blanks_obj.style.display = "block";
            display_prompt_obj.style.display = "block";
            setInterval("interval()", 1000);
            
        }
    
    n = 0    
    function interval(){
        if (n == 5){
            n = 0;
        }
        increase(n++);
    }

    function increase(n){
        var display_prompt_obj = document.getElementById("display_prompt")
        var prompt = "正在创建请稍等"
        while(n >= 0){
          prompt += ".";
          n--;
        }
        display_prompt_obj.innerHTML = prompt;
        display_prompt_obj.style.display = "block";
    
    }

    function selcity(){ 
        var arr = {"": ["--请选择系统版本--"],
                   "Win": ["Win7","Win10"],
                   "Mac": ["10.10","10.11"],  
                   "Ubu": ["u12","u14"],
                   }
        var value = document.getElementById("platform").value; 
        var subNode = document.getElementById("version");  
        var versions = arr[value];        
                                                                                            
        subNode.options.length = 0;   //清空之前选项  
        for(var x=0;x<versions.length;x++){  
            var optNode = document.createElement("option");  
            optNode.innerText = versions[x];  
            subNode.appendChild(optNode);  //选择添加到子选项中  
        }  
    }  
    </script>
    {% endblock %}
</div>

