<title>Restore DVDFab</title>
<style>
a {text-decoration:none;}
</style>
<h1 align= "center">Restore DVDFab</h1>
<p align = 'center'><img src="/site_media/logo.png"  mce_src="site_media/logo.png" /></p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<table name = "platform" width = "100%" style = "font-size: 15em">
<tr>
<td width = "25%"  style = "background-olor:grey"></td>
<td width = "25%" style = "background-color:#00aacc"align = "center"><a href = "/display_information?platform_name=Win">Win</a></td>
<td width = "25%" style = "background-color:#ff7722" align = "center"><a href = "/display_information?platform_name=Mac">Mac</a></td>
<td width = "25%" style = "background-colr:grey"></td></tr>

</table>
