<title>开发部集成管理平台</title>

<table width = "100%">
	<tr>
		<td width = "20%" style = "background-color:grey">
		</td>
		
		<td width = "50%">
		    <!--<table align='center', style = "font-size :2.5em"><tr><td width=50><img src="/site_media/logo.png" mce_src="site_media/mantis.png"></td><td><strong>世纪高蓝开发部集成管理平台</strong></td></tr></table>-->
			<div align='center', style = "font-size :2.5em"><strong>世纪高蓝开发部集成管理平台</strong></div>
			<hr />
			<h1>*项目管理工具</h1>
			<table width = "100%" style = "font-size:1.2em">
				<tr><h4>
					<!--<td width = "5%"></td><td><a href = "http://10.10.7.150/bug/bug_report_page.php" target = _blank>Mantis管理系统</a></td>-->
					<td width = "5%"></td><td><a href = "http://10.10.7.150/bug/bug_report_page.php" target = _blank><img  src="/site_media/mantis.png" mce_src="site_media/mantis.png"></a></td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<tr><h4>
					<!--<td width = "5%"></td><td><a href = "http://10.10.7.52:8080/jira" target = _blank>Jira项目管理系统</a></td>-->
					<td width = "5%"></td><td><a href = "http://10.10.7.52:8080/jira" target = _blank><img  src="/site_media/jira.png" mce_src="site_media/jira.png"></a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<!--<td width = "5%"></td><td><a href = "http://10.10.2.31/users/sign_in" target = _blank>GitLab</a></td>-->
					<td width = "5%"></td><td><a href = "http://10.10.2.31/users/sign_in" target = _blank><img  src="/site_media/gitlab.png" mce_src="site_media/gitlab.png"></a></td>
				</h4></tr>
				
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.7.105/oa/work_log/index.php" target = _blank>Work Log</a></td>
				</h4></tr>
				
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.31/public/projects/documents/dev-guide?ModPagespeed=noscript" target = _blank>开发部文档库</a></td>
				</h4></tr>
				
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.72:9002/share" target = _blank>共用资源</a></td>
				</h4></tr>
			</table>
			<hr />

			<h1>*自动build</h1>
			<table width = "100%" style = "font-size:1.2em">
			    <tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.72:9005/index" target = _blank>DVDFab build导航页面</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.201:8010/waterfall" target = _blank>Daily Build页面</a> (Player, VidOn Server, VidOn me pad, VidOn me android)</td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.170:8010/waterfall" target = _blank>DVDFab开发build页面</a> (DVDFab daily build ,Package build, Ts build)</td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.141:8010/waterfall" target = _blank>VidOn XBMC build页面</a></td>
				</h4></tr>
                <tr><td><br /></td></tr>
				
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.39:8010/waterfall" target = _blank>FFmpeg XBMC同步代码以及daily build页面</a></td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<!--<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.50:8010/waterfall" target = _blank>制作安装包页面</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>-->
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.170:8888/index" target = _blank>修改DVDFab产品显示信息页面</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.50:8888/index" target = _blank>修改VidOn Server,Win Player2, VBox等产品显示信息页面</a></td>
				</h4></tr>
			</table>
			<hr />

			<h1>*DVDFab</h1>

			<table width = "100%" style = "font-size:1.2em">
				<tr>
					<h4>
						<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.11/case" target = _blank>自动化测试页面</a></td>
					</h4>
				</tr>
				<tr>
				    <td><br /></td>
				</tr>
				
				<tr>
					<h4>
						<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.170:8888/main/" target = _blank>DVDFab产品代码恢复页面</a></td>
					</h4>
				</tr>
				
				<tr>
				    <td><br /></td>
				</tr>
				
				<tr>
				    <td width = "5%"></td><td><h3>*Windows</h3></td>
				</tr>
				
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/dvdfab_developer_daily_build" target = _blank>Developer DailyBuild Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/dvdfab_daily_build" target = _blank>DailyBuild Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/dvdfab_release_package" target = _blank>Release Packages</a></td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/dvdfab_crash_dump" target = _blank>Crash Dump Files</a></td>
				</h4></tr>

				<!--<tr><td><h3>&nbsp;&nbsp;Mac</h3></td></tr>-->
				<tr>
				    <td><br /></td>
				</tr>
				<tr><td width = "5%"></td><td><h3>*Mac</h3></td></tr>
				
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/mac_dvdfab_developer_daily_build" target = _blank>Developer DailyBuild Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/mac_dvdfab_daily_build" target = _blank>DailyBuild Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/mac_dvdfab_release_package" target = _blank>Release Packages</a></td>
				</h4></tr>
			</table>
			<hr />
			
			<h1>*Movie Gate</h1>

			<table width = "100%" style = "font-size:1.2em">
				<tr>
					<h4>
						<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/movie_gate" target = _blank>Packages</a></td>
					</h4>
				</tr>
			</table>
			<hr />
			
			<h1>*TDMore</h1>

			<table width = "100%" style = "font-size:1.2em">
				<tr>
					<h4>
						<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/tdmore" target = _blank>Packages</a></td>
					</h4>
				</tr>
			</table>
			<hr />
			
			<h1>*SafeDVDCopy</h1>

			<table width = "100%" style = "font-size:1.2em">
			    <tr>
				    <td width = "5%"></td><td><h3>*Windows</h3></td>
				</tr>
				<tr>
					<h4>
						<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/win_safedvdcopy" target = _blank>Packages</a></td>
					</h4>
				</tr>
				
				<tr>
				    <td width = "5%"></td><td><h3>*Mac</h3></td>
				</tr>
				<tr>
					<h4>
						<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/mac_safedvdcopy" target = _blank>Packages</a></td>
					</h4>
				</tr>
			</table>
			<hr />
			
			<h1>*VidOn Video Toolkit</h1>

			<table width = "100%" style = "font-size:1.2em">
			    <tr>
				    <td width = "5%"></td><td><h3>*Windows</h3></td>
				</tr>
				<tr>
					<h4>
						<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/win_vidon_video_toolkit" target = _blank>Packages</a></td>
					</h4>
				</tr>
				
				<tr>
				    <td width = "5%"></td><td><h3>*Mac</h3></td>
				</tr>
				<tr>
					<h4>
						<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/mac_vidon_video_toolkit" target = _blank>Packages</a></td>
					</h4>
				</tr>
			</table>
			<hr />
			
			<h1>*BluFab</h1>

			<table width = "100%" style = "font-size:1.2em">
				
				<tr>
				    <td width = "5%"></td><td><h3>*Windows</h3></td>
				</tr>
				
			
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/blufab_daily_build" target = _blank>DailyBuild Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/blufab_release_package" target = _blank>Release Packages</a></td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/blufab_crash_dump" target = _blank>Crash Dump Files</a></td>
				</h4></tr>
				

				<!--<tr><td><h3>&nbsp;&nbsp;Mac</h3></td></tr>-->
				<tr>
				    <td><br /></td>
				</tr>
				<tr><td width = "5%"></td><td><h3>*Mac</h3></td></tr>
				
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/mac_blufab_daily_build" target = _blank>DailyBuild Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/mac_blufab_release_package" target = _blank>Release Packages</a></td>
				</h4></tr>
			</table>
			<hr />

			
			<h1>*DVDFab Media Player2</h1>

			<table width = "100%" style = "font-size:1.2em">
				<tr><td width = "5%"></td><td><h3>*Windows</h3></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/player_predev_daily_build" target = _blank>Predev Daily Build</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/player_daily_build" target = _blank>Daily Build</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/player_release_package" target = _blank>Release Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/player_crash_dump" target = _blank>Crash Dump Files</a></td>
				</h4></tr>
				<tr>
				    <td><br /></td>
				</tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9004" target = _blank>Search Win Player Dump Files</a></td>
				</h4></tr>
				
				<tr><td width = "5%"></td><td><h3>*Mac</h3></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/mac_player_daily_build" target = _blank>DailyBuild Packages</a></td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/mac_player_predev_daily_build" target = _blank>Predev DailyBuild Packages</a></td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/mac_player_release_package" target = _blank>Release Packages</a></td>
				</h4></tr>
			</table>
			<hr />


			<h1>*VidOn Server</h1>
			<table width = "100%" style = "font-size:1.2em">
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.72:9001/vidon_server_daily_build" target = _blank>DailyBuild Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.72:9001/vidon_server_release_package" target = _blank>Release Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.72:9001/vidon_server_crash_dump" target = _blank>Crash Dump Files</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.72:9001/vidon_server2_release_package" target = _blank>VDM Server2 Release Packages</a></td>
				</h4></tr>
			</table>
			<hr />

			<h1>*VidOn XBMC</h1>
			<table width = "100%" style = "font-size:1.2em">
			    <tr><td width = "5%"></td><td><h3>*Windows</h3></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/win_vidonxbmc" target = _blank>DailyBuild Packages</a></td>
				</h4></tr>
				<tr>
				    <td><br /></td>
				</tr>
				<tr><td width = "5%"></td><td><h3>*Linux</h3></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/vidonxbmc" target = _blank>VidOnXBMC Package</a></td>
				</h4></tr>
				<tr>
				    <td><br /></td>
				</tr>
				
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/linux_vbox1_package" target = _blank>Vbox1 Packages</a></td>
				</h4></tr>
				<tr>
				    <td><br /></td>
				</tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/linux_vidon_xbmc_av500_daily_build" target = _blank>AV500 DailyBuild Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/linux_vidon_xbmc_daily_build" target = _blank>AV100, AV200 DailyBuild Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/linux_vidon_xbmc_release_package" target = _blank>Release Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/linux_vidon_xbmc_crash_dump" target = _blank>Crash Dump Files</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.141:9000/" target = _blank>Analyzed Dump Files</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9003" target = _blank>Search XBMC Dump Files</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.141:9002/index/" target = _blank>Intranet Dump Log</a></td>
				</h4></tr>
				
			</table>
			<hr />
			
			<h1>*VidOn.Me Mobile</h1>
			<table width = "100%" style = "font-size:1.2em">
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/vidonmemobile_android" target = _blank>VidOn.meAndroidPlayer</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9001/vidonmemobile_ios" target = _blank>VidOn.meIOSPlayer</a></td>
				</h4></tr>
			</table>
			
		</td>
		
		<td width = "20%" style = "background-color:grey"></td>
	</tr>
</table>




