<title>开发部集成管理平台</title>
<table width = "100%">
	<tr>
		<td width = "20%" style = "background-color:grey">
		</td>
		
		<td width = "50%">
			<div align='center', style = "font-size :2.5em"><strong>世纪高蓝开发部集成管理平台</strong></div>
			<hr />
			<h1>*项目管理工具</h1>
			<table width = "100%" style = "font-size:1.2em">
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.7.150/bug/bug_report_page.php" target = _blank>Mantis管理系统</a></td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.7.52:8080/jira" target = _blank>Jira项目管理系统</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.31/users/sign_in" target = _blank>GitLab</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.7.105/work_log/" target = _blank>工作日志地址</a></td>
				</h4></tr>
			</table>
			<hr />

			<h1>*自动build</h1>
			<table width = "100%" style = "font-size:1.2em">
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.201:8010/waterfall" target = _blank>Daily Build页面</a> (DVDFab,  Mac Player,  VidOn Server, TS)</td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.170:8010/waterfall" target = _blank>DVDFab开发build页面</a> (DVDFab Developer)</td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.141:8010/waterfall" target = _blank>VidOn XBMC build页面</a></td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.50:8010/waterfall" target = _blank>制作安装包页面</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.50:8888/index" target = _blank>修改产品显示信息页面</a> (DVDFab, VidOn Server)</td>
				</h4></tr>
			</table>
			<hr />

			<h1>*DVDFab</h1>

			<table width = "100%" style = "font-size:1.2em">
				<tr>
					<h4>
						<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.11/case" target = _blank>自动化测试页面</a></td>
					</h4>
				</tr>
				
				<tr>
				    <td><br /></td>
				</tr>
				
				<tr>
				    <td width = "5%"></td><td><h3>*Windows</h3></td>
				</tr>
				
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9000/DVDFab_package/daily_build/Win/DVDFab9_mobile2/" target = _blank>DailyBuild Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9000/DVDFab_package/Release_Package/DVDFab9/Win" target = _blank>Release Packages</a></td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9000/DVDFab_Dump/DVDFab" target = _blank>Crash Dump Files</a></td>
				</h4></tr>

				<!--<tr><td><h3>&nbsp;&nbsp;Mac</h3></td></tr>-->
				<tr>
				    <td><br /></td>
				</tr>
				<tr><td width = "5%"></td><td><h3>*Mac</h3></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9000/DVDFab_package/daily_build/Mac/DVDFab9" target = _blank>DailyBuild Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9000/DVDFab_package/Release_Package/DVDFab9/Mac" target = _blank>Release Packages</a></td>
				</h4></tr>
			</table>
			<hr />

			
			<h1>*DVDFab Media Player2</h1>

			<table width = "100%" style = "font-size:1.2em">
				<tr><td width = "5%"></td><td><h3>*Windows</h3></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9000/DVDFab_package/daily_build/Win/DVDFabMediaPlayer2" target = _blank>Release Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9000/DVDFab_Dump/DVDFab_Media_Player" target = _blank>Crash Dump Files</a></td>
				</h4></tr>
				<tr>
				    <td><br /></td>
				</tr>
				<tr><td width = "5%"></td><td><h3>*Mac</h3></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9000/DVDFab_package/daily_build/Mac/DVDFabMediaPlayer2" target = _blank>DailyBuild Packages</a></td>
				</h4></tr>
                <tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9000/DVDFab_package/Release_Package/DVDFabMediaPlayer2" target = _blank>Release Packages</a></td>
				</h4></tr>
			</table>
			<hr />


			<h1>*VidOn Server</h1>
			<table width = "100%" style = "font-size:1.2em">
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.72:9000/DVDFab_package/daily_build/Win/VDMServer" target = _blank>DailyBuild Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.72:9000/DVDFab_package/Release_Package/VDMServer" target = _blank>Release Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td><a href = "http://10.10.2.72:9000/DVDFab_Dump/VDMServer" target = _blank>Crash Dump Files</a></td>
				</h4></tr>
			</table>
			<hr />

			<h1>*VidOn XBMC</h1>
			<table width = "100%" style = "font-size:1.2em">
			    <tr><td width = "5%"></td><td><h3>*Windows</h3></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9000/DVDFab_package/daily_build/Win/VDMMediaCenter" target = _blank>DailyBuild Packages</a></td>
				</h4></tr>
				<tr>
				    <td><br /></td>
				</tr>
				<tr><td width = "5%"></td><td><h3>*Linux</h3></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9000/DVDFab_package/daily_build/Win/VidOn.me TV apk" target = _blank>DailyBuild Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9000/DVDFab_package/Release_Package/VidOn.me TV apk" target = _blank>Release Packages</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.72:9000/DVDFab_Dump/Android_Blu_ray_Box" target = _blank>Crash Dump Files</a></td>
				</h4></tr>
				<tr><td><br /></td></tr>
				<tr><h4>
					<td width = "5%"></td><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://10.10.2.141:9000/" target = _blank>Analyzed Dump Files</a></td>
				</h4></tr>
				
			</table>
		</td>
		
		<td width = "20%" style = "background-color:grey"></td>
	</tr>
</table>




