<html>
    {% extends 'navmenu.html'%}
	<!--<head>
		<title>欢迎来到Git Log查询中心</title>
	</head>
	<body>
		<h1 align = "center">欢迎来到Git Log查询中心</h1>
		<div><a href = "/">首页</a>&nbsp;&nbsp;<a href = "/display_product_project/">查看产品与工程</a></div><br />-->
		{% block content%}
		<style>
		.right_width {width:80%}
		.left_width {width:20%}
		tr{
			height:2em
		}
		</style>
		<form action = "." method = "POST" onsubmit = "return NotEmpty()">
			{% csrf_token %}
			<table width = "100%" align = "center"  cellSpacing="5" cellPadding="0" border="0">
				<tr>
					<td class = "left_width" align = 'right'>产品名:</td>
					<td class = "right_width" ><input class = "right_width" type = "text" name = "product_name" value = "{{product_name}}"></td>
				</tr>
				<!--<tr>
					<td class = "left_width" align = 'right'>builder名:</td>
					<td class = "right_width"><input class = "right_width" type = "text" name = "builder_name" value = "{{builder_name}}"></td>
				</tr>-->
				<tr>
					<td class = "left_width" align = 'right'>工程名:</td>
					<td class = "right_width">
						<input id = "project" class = "right_width" type = "text" name = "project_name" value = "{{project_name}}" 
						placeholder = "多个工程可以以逗号或者分号隔开;工程名必须是git的全路径。例如：git@10.10.2.31:dvdfab/include.git" />
						<!--onfocus = "if (value==defaultValue){value='';this.style.color='#000'}"
						onblur = "if (!value){value=defaultValue;this.style.color='#999'}" style = "color:#999"-->
					</td>
				</tr>
				<tr>
					<td class = "left_width" align = 'right'>安装包在nas上的路径:</td>
					<td class = "right_width"><input class = "right_width" type = "text" name = "package_nas_path" value = "{{package_nas_path}}"></td>
				</tr>
			</table>
			<br />
			<div align = "center"><input type = "submit" value = "Submit"/></div>
		</form>
		{% endblock %}
	</body>
</html>
{% block footer%}
<script>
function trimstr(strings){
    return strings.replace(/(^\s*)|(\s*$)/g, '');
}

function NotEmpty(){
var input_obj = document.getElementsByTagName("input");
var obj = document.getElementById("project");
project = obj.value;
//proj_regex = /^([a-zA-Z0-9]+)([a-zA-Z0-9\_\-\.\:\;\,\/]+)(\@+)([a-zA-Z0-9\_\-\.\:\;\,\/]+)$/;
proj_regex = /^([a-zA-Z0-9]+)(@+)([a-zA-Z0-9\_\-\.\:\;\,\/\@]+)$/;
//检测input标签是否已填充内容
for(i=0;i<input_obj.length;i++){
    if(trimstr(input_obj[i].value) == ""){
	    alert("每一项都是必填项");
		return false;
	}
}

if(project.search(proj_regex)!=0){
	alert("工程名格式不正确，请重新填写！")
	return false;
	}
}


</script>
{% endblock %}
