<html>
{% extends 'navmenu.html'%}


<body>
{% block content %}
<h1>更新成功</h1>
<h4 id = "time1"><a href = "">3秒钟之后将自动跳转至页面...</a></h4>
{% endblock %}
<!--</body>
</html>-->
{% block footer%}

<script>
var t = 2
function delay(){
	var obj = document.getElementById("time1");
	obj.innerHTML = '<a href = "/">' + t + '秒钟之后将自动跳转至页面...</a>';
	t--;
	if (t == -1){
		obj.innerHTML = "";
		clearInterval(b);
	}
}

setTimeout("javascript:location.href = '/'", 3000);
b = setInterval('delay()', 1000);
</script>
{% endblock %}
