<title>Mac DVDFab Build</title>
<h1 align = "center" style = "font-size:3.0em">Mac DVDFab Build</h1>
<br />
<table width = "100%">
<tr>
<td width = "39%"></td>
<td width = "41%">
<h1><a href = "http://10.10.2.170:8010/builders/mac_107_basement_rebuild" target = _blank>底层库Rebuild (Debug Release)</a></h1>
<br />
<h1><a href = "http://10.10.2.170:8010/builders/mac_107" target = _blank>Debug Release(Dev分支)</a></h1>
<br />
<h1><a href = "http://10.10.2.170:8010/builders/mac_107_rebuild" target = _blank>Rebuild(master分支)</a></h1>
<br />
<h1><a href = "http://10.10.2.170:8010/builders/mac_107_release" target = _blank>Release(Dev分支)</a></h1> 
<br />
<h1><a href = "http://10.10.2.170:8010/builders/dvdfab9_official_mac" target = _blank>备份代码编译</a></h1> 
<br />
<h1><a href = "http://10.10.2.170:8010/builders/mac_official_fab_daily_build" target = _blank>备份代码不编译(只调用谢状平的程序)</a></h1> 
<br />
<h1><a href = "http://10.10.2.170:8010/builders/package_mac_dvdfab9_beta" target = _blank>只做打包(Beta)</a></h1> 
<br />
<h1><a href = "http://10.10.2.170:8010/builders/package_mac_dvdfab9_official" target = _blank>只做打包(Official)</a></h1> 
</td>
<td width = "20%"></td>
</tr>