<title>Mac SafeDVDCopy Backup Package Build</title>

<table width = "100%">
	<tr>
		<td width = "20%" style = "background-color:grey">
		</td>
		
		<td width = "50%">
			<div align='center' style = "font-size :2.5em"><strong>Mac SafeDVDCopy Backup Package Build</strong></div>
			<hr /><br /><br /><br /><br /><br /><br />
			<table align='center' width = "100%" style = "font-size:1.8em">
				
				<tr><h4>
					<td width = "30%"></td><td><a href = "http://10.10.2.170:8010/builders/package_mac_safedvdcopy_backup" target = _blank>Mac SafeDVDCopy Backup产品合集(4个产品一起出)</a></td>
				</h4></tr>
				
				<tr><td><br /><br /><br /></td></tr>
				
				<tr><h4>
					<td width = "30%"></td><td><a href = "http://10.10.2.170:8010/builders/package_mac_safedvdcopy_backup_only" target = _blank>Mac SafeDVDCopy Backup</a></td>
				</h4></tr>
				
				<tr><td><br /><br /><br /></td></tr>
				
				<tr><h4>
					<td width = "30%"></td><td><a href = "http://10.10.2.170:8010/builders/package_mac_safedvdcopy_backup_trial" target = _blank>Mac SafeDVDCopy Backup Trial</a></td>
				</h4></tr>
				
				<tr><td><br /><br /><br /></td></tr>
				
				<tr><h4>
					<td width = "30%"></td><td><a href = "http://10.10.2.170:8010/builders/package_mac_safedvdcopy_backup_premium" target = _blank>Mac SafeDVDCopy Backup Premium</a></td>
				</h4></tr>
				
				<tr><td><br /><br /><br /></td></tr>
				
				<tr><h4>
					<td width = "30%"></td><td><a href = "http://10.10.2.170:8010/builders/package_mac_safedvdcopy_backup_premium_trial" target = _blank>Mac SafeDVDCopy Backup Premium Trial</a></td>
				</h4></tr>
			
			</table>
		</td>
		
		<td width = "20%" style = "background-color:grey"></td>
	</tr>
</table>








