<title>Win SafeDVDCopy Package Build</title>

<table width = "100%">
	<tr>
		<td width = "20%" style = "background-color:grey">
		</td>
		
		<td width = "50%">
			<div align='center' style = "font-size :2.5em"><strong>Win SafeDVDCopy Package Build</strong></div>
			<hr /><br /><br /><br /><br /><br /><br />
			<table align='center' width = "100%" style = "font-size:1.8em">
				
				<tr><h4>
					<td width = "30%"></td><td><a href = "http://10.10.2.170:8010/builders/package_safedvdcopy" target = _blank>Win SafeDVDCopy产品合集(4个产品一起出)</a></td>
				</h4></tr>
				
				<tr><td><br /><br /><br /></td></tr>
				
				<tr><h4>
					<td width = "30%"></td><td><a href = "http://10.10.2.170:8010/builders/package_safedvdcopy_only" target = _blank>Win SafeDVDCopy</a></td>
				</h4></tr>
				
				<tr><td><br /><br /><br /></td></tr>
				
				<tr><h4>
					<td width = "30%"></td><td><a href = "http://10.10.2.170:8010/builders/package_safedvdcopy_trial" target = _blank>Win SafeDVDCopy Trial</a></td>
				</h4></tr>
				
				<tr><td><br /><br /><br /></td></tr>
				
				<tr><h4>
					<td width = "30%"></td><td><a href = "http://10.10.2.170:8010/builders/package_safedvdcopy_premium" target = _blank>Win SafeDVDCopy Premium</a></td>
				</h4></tr>
				
				<tr><td><br /><br /><br /></td></tr>
				
				<tr><h4>
					<td width = "30%"></td><td><a href = "http://10.10.2.170:8010/builders/package_safedvdcopy_premium_trial" target = _blank>Win SafeDVDCopy Premium Trial</a></td>
				</h4></tr>
			
			</table>
		</td>
		
		<td width = "20%" style = "background-color:grey"></td>
	</tr>
</table>




