<title>VidOn XBMC Buildbot Management Page</title>
<!--
<style  type = "text/css">
* {padding:0;margin:3;border:3;font:20px "微软雅黑";}
</style>
-->
<div align = "center" style = "font-size:2.0em"><strong>VidOn XBMC Buildbot Management Page</strong></div>
<br />
<!--<div align = "center"><img  src="/site_media/logo.png" mce_src="site_media/logo.png"></div>-->
<br /><br />

<table align = "center" width = "100%" border = "solid red 30px" style = "font-size:1.5em">

<tr align = "center" style = "background-color:#def1ff">
<td>Product</td>
<td>Build</td>
</tr>

<tr align = "center" style = "background-color:#b7ddf7">
<td>DVDFab Win Beta</td>
<td><a href = "http://10.10.2.170:8010/builders/DVDFab9_basement_merge" target = _blank title = "只做Release">Build</a></td>

</tr>

<tr align = "center" style = "background-color:#def1ff">
<td>DVDFab Win Official</td>
<td><a href = "/win_dvdfab_official_build/" target = _blank title = "只做Release">Dev分支</a></td>
</tr>

<tr align = "center" style = "background-color:#b7ddf7">
<td>DVDFab Mac Beta</td>
<td><a href = "http://10.10.2.170:8010/builders/package_mac_dvdfab9_beta" target = _blank title = "只做安装包">Beta</a></td>
</tr>

<tr align = "center" style = "background-color:#def1ff">
<td>DVDFab Mac Official</td>
<td><a href = "/mac_dvdfab_official_build/" target = _blank title = "只做Release">Dev分支</a></td>
</tr>



<tr align = "center" style = "background-color:#b7ddf7">
<td>TDMore</td>
<td><a href = "http://10.10.2.170:8010/builders/DVDFab9_basement_merge" target = _blank title = "只做Release">Build</a></td>
</tr>


<tr align = "center" style = "background-color:#def1ff">
<td>SafeDVDCopy Win</td>
<td><a href = "http://10.10.2.170:8010/builders/DVDFab9_basement_merge" target = _blank title = "只做Release">Build</a></td>
</tr>

<tr align = "center" style = "background-color:#b7ddf7">
<td>SafeDVDCopy Win Backup</td>
<td><a href = "http://10.10.2.170:8010/builders/package_safedvdcopy_backup" target = _blink title = "只做安装包">Package</a></td>
</tr>

<tr align = "center" style = "background-color:#def1ff">
<td>SafeDVDCopy Mac</td>
<td><a href = "http://10.10.2.72:9005/mac_safedvdcopy_build/" target = _blank title = "只做安装包">Package</a></td>
</tr>

<tr align = "center" style = "background-color:#b7ddf7">
<td>SafeDVDCopy Mac Backup</td>
<td><a href = "http://10.10.2.170:8010/builders/dvdfab9_official_mac" target = _blank title = "只做Release">Dev分支</a></td>
</tr>

</table>
