<title>Windows DVDFab Build</title>
<h1 align = "center" style = "font-size:3.0em">Windows DVDFab Build</h1>
<br /><br /><br />
<table width = "100%">
<tr>
<td width = "37%"></td>
<td width = "43%">
<h1><a href = "http://10.10.2.170:8010/builders/DVDFab9_dev_builder" target = _blank>开发Build(Dev分支)</a></h1>
<br />
<h1><a href = "http://10.10.2.170:8010/builders/dvdfab9_ts_basement_rebuild" target = _blank>底层库Rebuild (Debug Release)</a></h1>
<br />
<h1><a href = "http://10.10.2.170:8010/builders/dvdfab9_ts" target = _blank>Debug Release(Dev分支)</a></h1>
<br />
<h1><a href = "http://10.10.2.170:8010/builders/dvdfab9_ts_rebuild" target = _blank>Rebuild(master分支)</a></h1>
<br />
<h1><a href = "http://10.10.2.170:8010/builders/dvdfab9_ts_release" target = _blank>Release(Dev分支)</a></h1> 
<br />
<h1><a href = "http://10.10.2.170:8010/builders/package_dvdfab9_beta" target = _blank>Package Build(一般情况下出Beta版)</a></h1> 



<br />
<h1><a href = "http://10.10.2.170:8010/builders/dvdfab9_official_win" target = _blank>备份代码编译</a></h1> 
<br />
<h1><a href = "http://10.10.2.170:8010/builders/official_fab_daily_build" target = _blank>备份代码不编译(只调用谢状平的程序)</a></h1> 
<br />
<h1><a href = "http://10.10.2.170:8010/builders/package_dvdfab9_official" target = _blank>备份代码出安装包(只出正式版)</a></h1> 
</td>
<td width = "20%"></td>
</tr>