<style>
#tr_id{background-color:#4ff5f4}
</style>
<title>DVDFab client</title>
{% extends 'base.html'%}
{% block content%}
<h1 align = 'center'>Display DVDFab Client Info</h1>
<table border = 'solid 3px red' align = 'center' style = 'color:black' width = 100%>
	<tr align = 'center'  style = "font-size:0.9em; background-color :gray; width = '100%' ;height = '30px'">
	    <td><a href = '?ziduan=id&desc={{desc}}'>id</a></td>
		<td><a href = '?ziduan=PC_name&desc={{desc}}'>PC_name</a></td>
		<td>PC_ip</td>
		<td>DVDFab_path</td>
		<td>Dest_path</td>
	</tr>

	{% for i in client %}
		<tr id = 'tr_id' align = 'center'  style = "background-color: {% cycle '#4ff5f4' '#E0ffff'%}; height = '40px'">
		<td name = 'PC_name' onClick = "window.open('/update_client_page?index={{i.id}}')">{{i.id}}</td>
		<td name = 'PC_name' onClick = "window.open('/update_client_page?index={{i.id}}')">{{i.PC_name}}</td>
		<td name = 'PC_ip' onClick = "window.open('/update_client_page?index={{i.id}}')">{{i.PC_ip}}</td>
		<td name = 'Dvdfab_path' onClick = "window.open('/update_client_page?index={{i.id}}')">{{i.Dvdfab_path}}</td>
		<td name = 'Dest_path' onClick = "window.open('/update_client_page?index={{i.id}}')">{{i.Dest_path}}</td>
		<!--
			<a href = 'javascript:' onClick = "window.open('/update_client_page/{{i.id}}/')">
				<td>{{i.PC_name}}</td>
				<td>{{i.PC_ip}}</td>
				<td>{{i.Dvdfab_path}}</td>
				<td>{{i.Dest_path}}</td>
			</a>   -->
		
		</tr>
	{% endfor %}

</table>
<!--
  <script type="text/javascript">
					function tt(nob) { 
						var irow = 0
						irow = nob
						this.clickFunc = function() { 
							var x = document.getElementsByTagName("table")[irow].getElementsByTagName("td");
							window.open("/update_client?index="+x[0].getAttribute("rel_index"))
						} 
					} 
					var list_obj = document.getElementsByTagName("table");
					
					for (var i = 0; i <= list_obj.length; i++) { 
						var col = new tt(i);
						list_obj[i].onclick = col.clickFunc; 
					} 
			</script> -->
{% endblock %}
{% block footer %}{% endblock %}